schema/NCIACoreService/NCIACoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ncia.cagrid.nci.nih.gov/NCIACoreService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns2="http://gov.nih.nci.cagrid.data/DataService" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns4="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns10="http://transfer.cagrid.org/Transfer" xmlns:ns9="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" xmlns:ns8="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns5="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" xmlns:ns0="http://ncia.cagrid.nci.nih.gov/NCIACoreService/types" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns6="http://ncia.cagrid.nci.nih.gov/NCIACoreService/CQLResultTypes" name="NCIACoreService" targetNamespace="http://ncia.cagrid.nci.nih.gov/NCIACoreService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data/DataService" location="./DataService.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://ncia.cagrid.nci.nih.gov/NCIACoreService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caCORE.caCORE/4.0/gov.nih.nci.ncia.domain" schemaLocation="gov.nih.nci.ncia.domain.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <import namespace="http://ncia.cagrid.nci.nih.gov/NCIACoreService/types" schemaLocation="./NCIACoreServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://ncia.cagrid.nci.nih.gov/NCIACoreService/CQLResultTypes" schemaLocation="./NCIACoreService_CQLResultTypes.xsd" />
      <element name="RetrieveDicomDataRequest">
        <complexType>
          <sequence>
            <element name="cQLQuery">
              <complexType>
                <sequence>
                  <element ref="ns4:CQLQuery" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByPatientIdRequest">
        <complexType>
          <sequence>
            <element name="patientId" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByPatientIdResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataBySeriesUIDRequest">
        <complexType>
          <sequence>
            <element name="seriesInstanceUID" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataBySeriesUIDResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByStudyUIDRequest">
        <complexType>
          <sequence>
            <element name="studyInstanceUID" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByStudyUIDResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByPatientIdsRequest">
        <complexType>
          <sequence>
            <element name="patientIds" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByPatientIdsResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataBySeriesUIDsRequest">
        <complexType>
          <sequence>
            <element name="seriesInstanceUids" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataBySeriesUIDsResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByStudyUIDsRequest">
        <complexType>
          <sequence>
            <element name="studyInstanceUids" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByStudyUIDsResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetNumberOfStudyTimePointForPatientRequest">
        <complexType>
          <sequence>
            <element name="patientId" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetNumberOfStudyTimePointForPatientResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:int" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByNthStudyTimePointForPatientRequest">
        <complexType>
          <sequence>
            <element name="patientId" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="studyTimepoint" type="xs:int" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDicomDataByNthStudyTimePointForPatientResponse">
        <complexType>
          <sequence>
            <element ref="ns9:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRepresentativeImageBySeriesRequest">
        <complexType>
          <sequence>
            <element name="seriesInstanceUID" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRepresentativeImageBySeriesResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Image" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="NCIACoreServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns7:DomainModel" />
            <element ref="ns3:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="RetrieveDicomDataRequest">
    <part name="parameters" element="tns:RetrieveDicomDataRequest" />
  </message>
  <message name="RetrieveDicomDataResponse">
    <part name="parameters" element="tns:RetrieveDicomDataResponse" />
  </message>
  <message name="RetrieveDicomDataByPatientIdRequest">
    <part name="parameters" element="tns:RetrieveDicomDataByPatientIdRequest" />
  </message>
  <message name="RetrieveDicomDataByPatientIdResponse">
    <part name="parameters" element="tns:RetrieveDicomDataByPatientIdResponse" />
  </message>
  <message name="RetrieveDicomDataBySeriesUIDRequest">
    <part name="parameters" element="tns:RetrieveDicomDataBySeriesUIDRequest" />
  </message>
  <message name="RetrieveDicomDataBySeriesUIDResponse">
    <part name="parameters" element="tns:RetrieveDicomDataBySeriesUIDResponse" />
  </message>
  <message name="RetrieveDicomDataByStudyUIDRequest">
    <part name="parameters" element="tns:RetrieveDicomDataByStudyUIDRequest" />
  </message>
  <message name="RetrieveDicomDataByStudyUIDResponse">
    <part name="parameters" element="tns:RetrieveDicomDataByStudyUIDResponse" />
  </message>
  <message name="RetrieveDicomDataByPatientIdsRequest">
    <part name="parameters" element="tns:RetrieveDicomDataByPatientIdsRequest" />
  </message>
  <message name="RetrieveDicomDataByPatientIdsResponse">
    <part name="parameters" element="tns:RetrieveDicomDataByPatientIdsResponse" />
  </message>
  <message name="RetrieveDicomDataBySeriesUIDsRequest">
    <part name="parameters" element="tns:RetrieveDicomDataBySeriesUIDsRequest" />
  </message>
  <message name="RetrieveDicomDataBySeriesUIDsResponse">
    <part name="parameters" element="tns:RetrieveDicomDataBySeriesUIDsResponse" />
  </message>
  <message name="RetrieveDicomDataByStudyUIDsRequest">
    <part name="parameters" element="tns:RetrieveDicomDataByStudyUIDsRequest" />
  </message>
  <message name="RetrieveDicomDataByStudyUIDsResponse">
    <part name="parameters" element="tns:RetrieveDicomDataByStudyUIDsResponse" />
  </message>
  <message name="GetNumberOfStudyTimePointForPatientRequest">
    <part name="parameters" element="tns:GetNumberOfStudyTimePointForPatientRequest" />
  </message>
  <message name="GetNumberOfStudyTimePointForPatientResponse">
    <part name="parameters" element="tns:GetNumberOfStudyTimePointForPatientResponse" />
  </message>
  <message name="RetrieveDicomDataByNthStudyTimePointForPatientRequest">
    <part name="parameters" element="tns:RetrieveDicomDataByNthStudyTimePointForPatientRequest" />
  </message>
  <message name="RetrieveDicomDataByNthStudyTimePointForPatientResponse">
    <part name="parameters" element="tns:RetrieveDicomDataByNthStudyTimePointForPatientResponse" />
  </message>
  <message name="GetRepresentativeImageBySeriesRequest">
    <part name="parameters" element="tns:GetRepresentativeImageBySeriesRequest" />
  </message>
  <message name="GetRepresentativeImageBySeriesResponse">
    <part name="parameters" element="tns:GetRepresentativeImageBySeriesResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="NCIACoreServicePortType" wsrp:ResourceProperties="tns:NCIACoreServiceResourceProperties">
    <operation name="retrieveDicomData">
      <input message="tns:RetrieveDicomDataRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataRequest" />
      <output message="tns:RetrieveDicomDataResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataResponse" />
    </operation>
    <operation name="retrieveDicomDataByPatientId">
      <input message="tns:RetrieveDicomDataByPatientIdRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByPatientIdRequest" />
      <output message="tns:RetrieveDicomDataByPatientIdResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByPatientIdResponse" />
    </operation>
    <operation name="retrieveDicomDataBySeriesUID">
      <input message="tns:RetrieveDicomDataBySeriesUIDRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataBySeriesUIDRequest" />
      <output message="tns:RetrieveDicomDataBySeriesUIDResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataBySeriesUIDResponse" />
    </operation>
    <operation name="retrieveDicomDataByStudyUID">
      <input message="tns:RetrieveDicomDataByStudyUIDRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByStudyUIDRequest" />
      <output message="tns:RetrieveDicomDataByStudyUIDResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByStudyUIDResponse" />
    </operation>
    <operation name="retrieveDicomDataByPatientIds">
      <input message="tns:RetrieveDicomDataByPatientIdsRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByPatientIdsRequest" />
      <output message="tns:RetrieveDicomDataByPatientIdsResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByPatientIdsResponse" />
    </operation>
    <operation name="retrieveDicomDataBySeriesUIDs">
      <input message="tns:RetrieveDicomDataBySeriesUIDsRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataBySeriesUIDsRequest" />
      <output message="tns:RetrieveDicomDataBySeriesUIDsResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataBySeriesUIDsResponse" />
    </operation>
    <operation name="retrieveDicomDataByStudyUIDs">
      <input message="tns:RetrieveDicomDataByStudyUIDsRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByStudyUIDsRequest" />
      <output message="tns:RetrieveDicomDataByStudyUIDsResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByStudyUIDsResponse" />
    </operation>
    <operation name="getNumberOfStudyTimePointForPatient">
      <input message="tns:GetNumberOfStudyTimePointForPatientRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/GetNumberOfStudyTimePointForPatientRequest" />
      <output message="tns:GetNumberOfStudyTimePointForPatientResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/GetNumberOfStudyTimePointForPatientResponse" />
    </operation>
    <operation name="retrieveDicomDataByNthStudyTimePointForPatient">
      <input message="tns:RetrieveDicomDataByNthStudyTimePointForPatientRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByNthStudyTimePointForPatientRequest" />
      <output message="tns:RetrieveDicomDataByNthStudyTimePointForPatientResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/RetrieveDicomDataByNthStudyTimePointForPatientResponse" />
    </operation>
    <operation name="getRepresentativeImageBySeries">
      <input message="tns:GetRepresentativeImageBySeriesRequest" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/GetRepresentativeImageBySeriesRequest" />
      <output message="tns:GetRepresentativeImageBySeriesResponse" wsa:Action="http://ncia.cagrid.nci.nih.gov/NCIACoreService/GetRepresentativeImageBySeriesResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="query">
      <input message="wns2:QueryRequest" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryRequest" />
      <output message="wns2:QueryResponse" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryResponse" />
      <fault name="QueryProcessingException" message="wns2:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="wns2:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/MalformedQueryExceptionFaultMessage" />
    </operation>
  </portType>
</definitions>

